<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Service</title>
    <%- await include('styles.ejs') %>
</head>
<body>
    <div class="container">
        <h1><%= heading %></h1>
        <p>Hi <%= name %>,</p>
        <p><%= message %>Here are your account details:</p>
        <p><strong>Email:</strong> <%= email %></p>
        <p>Password: <%= password %></p>
        <p>For security reasons, we recommend that you change your password after logging in.</p>
        <p>If you have any questions or need assistance, feel free to contact our support team.</p>
        <footer>
            <p>Best Regards,<br>KlearSplit</p>
        </footer>
    </div>
</body>
</html>
